* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    --dark-blue: #05164B;
    --darker-blue: #0c1328;
    --light-blue: #2f4897;
    --light-green: #EDF7F5;
}

footer {
    background-color: var(--darker-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20vw 0px;
}

footer>* {
    color: whitesmoke;
    padding: 2vh;
}

.footer-logo {
    max-width: 10em;
}

.fa-brands {
    font-size: 2em;
    padding: 0px 10px;
}

