my-member-card {
    position: relative;
}

.members-card-div {
    background-color: whitesmoke;
    z-index: 2;
    filter: drop-shadow(0px 10px 10px gray);
    padding-bottom: 10px;
    border-radius: 10px;
}

.members-card-div>div {
    padding: 0.8em 8%;
}

.content-container>* {
    padding-bottom: 0.8em;
}

.members-card-div>img {
    width: 100%;
    padding: 0;
}
