RewriteEngine On
RewriteBase /
RewriteRule ^student/?$ student.html
RewriteRule ^parent/?$ parent.html
RewriteRule ^teachers/?$ teacher.html
RewriteRule ^photos/?$ photos.html
RewriteRule ^maze_game/?$ maze_game.html