RewriteEngine On
RewriteBase /
RewriteRule ^student/?$ student.html
RewriteRule ^parent/?$ parent.html
RewriteRule ^teachers/?$ teacher.html
RewriteRule ^photos/?$ photos.html
RewriteRule ^student/maze_game/?$ maze_game.html
RewriteRule ^contribute/?$ contribute.html
RewriteRule ^sponsors/?$ sponsors.html