RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?cancode\.us
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.cancode.us/$1 [L,R=301]
RewriteBase /
RewriteRule ^student/?$ student.html
RewriteRule ^parent/?$ parent.html
RewriteRule ^team/?$ team.html
RewriteRule ^sites/?$ sites.html
RewriteRule ^photos/?$ photos.html
RewriteRule ^student/maze_game/?$ maze_game.html
RewriteRule ^contribute/?$ contribute.html
RewriteRule ^apply/?$ contribute.html
RewriteRule ^Apply/?$ contribute.html
RewriteRule ^sponsors/?$ sponsors.html
RewriteRule ^resources/?$ resources.html
RewriteRule ^studentsafe/?$ studentsafe.html
RewriteRule ^games/?$ games.html
RewriteRule ^diller/?$ diller.html
RewriteRule ^Diller/?$ diller.html
RewriteRule ^thanks/?$ thanks.html
RewriteRule ^news/?$ news.html
RewriteRule ^team/harys/?$ bios/harys.html