* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    --dark-blue: #05164B;
    --darker-blue: #19264D;
    --light-blue: #2f4897;
    --light-green: #EDF7F5;
    border-radius: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    margin: 10vh;
}

h1,
h3,
h5 {
    text-align: center;
    text-transform: capitalize;
    margin: 0.25em;
}

h1 {
    font-family: "Oswald";
    font-size: 72px;
    font-weight: 700;
}

h2 {
    font-family: "Oswald";
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

p {
    color: #444;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

button {
    display: inline-flex;
    margin: 0px 0.5em;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid #2F4897;
    text-transform: capitalize;
    transition: brightness 0.3s ease;
    transition: transform 0.25s ease;
}

button:hover {
    filter: brightness(90%);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

.button-clear {
    background: rgb(0 0 0 / .2);
}

.button-solid {
    background: #2F4897;
    color: white;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 40vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("Images/achievementCropped.jpg") center no-repeat;
    background-size: cover;
    z-index: -2;
    filter: brightness(40%);
    pointer-events: none;
}

.hero * {
    color: #FFF;
}

.hero--middle-text {
    margin-top: 8em;
    margin-bottom: 2em;
}


.img-content-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 50px;
}

.base-image {
    position: absolute;
    width: 450px;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.base-imageALT {
    position: absolute;
    width: 450px;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.top-image {
    position: absolute;
    width: 300px;
    top: 200px;
    left: 200px;
    z-index: 2;
}

.top-imageALT {
    position: absolute;
    width: 300px;
    top: 300px;
    right: 200px;
    z-index: 2;
    background-color: white;
    ;
    padding-left: 20px;
}

.image-container>* {
    border: 10px solid rgba(47, 72, 151, 0.20);
}


.text-block>* {
    margin: 1em;
}

.text-block>p {
    margin-bottom: 2em;
}

.mission-block-group {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mission-block {
    display: inline-block;
    background: #EDF7F5;
}

.block-one {
    margin-right: 1em;
}

.block-two {
    margin-left: 1em;
}

.mission-block p {
    padding: 1em;
}

.progress-block {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.progress-desc {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

.progress-desc>p {
    font-weight: 1000;
}

.progress-bar-outside {
    background-color: var(--light-green);
    height: 12px;
    width: 100%;
}

.progress-bar-inside {
    display: block;
    background-color: var(--light-blue);
    height: 100%;
}

.progress-bar-animation {
    animation: progress 1s ease-in 1;
}

/* Animating the progress bar by
        initially starting from 0*/
@keyframes progress {
    from {
        width: 0;
    }
}

.progress-one {
    width: 48%;
}

.progress-two {
    width: 82%;
}


.button-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    font-size: 40px;
}

.button-container>* {
    padding: 5px;
}

.contributions {
    background-color: var(--darker-blue);
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 1em;
    padding-bottom: 5em;
}

.contributions-header {
    text-align: center;
}

.hidden {
    display: none;
}

.contributions * {
    color: whitesmoke;
}

.contribution-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contribution-arrow {
    height: 7em;
    width: auto;
    filter: invert(1) brightness(0.80);
}

.contribution-arrow-left {
    transform: scaleX(-1);
}


.achievement-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .achievement-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.achievement-box {
    margin: 0.5em 0.5em;
    padding: 5px;
    height: 30vh;
    width: 15vw;
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievement-icon-container {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.achievement-icon {
    font-size: 4em;
    color: var(--light-blue);
}

.achievement-circle-progressBar {
    background: conic-gradient(from 0deg, var(--light-blue) 0%, var(--light-blue) var(--circle-percent), whitesmoke var(--circle-percent), whitesmoke 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Currently not working */
.circle-progressBar-animation {
    animation: 1s ease-in 1;
}
