body {
	background-color: #FFFFFF;
	margin: 0;
}

/* Navigation bar is really an unordered list (ul) */
div.navbar {
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and Opera */
}
div.navbar ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  overflow: hidden;
	font-family: "Courier", "Lucida Console", monospace;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
	z-index: 100; /* Put navigation bar on top of content */
	position: fixed;
	top: 0;
	left: 0;
	background-color: #F5F5F5;
}
div#hiddenNavbar {
	margin: 0;
  padding: 0;
  overflow: hidden;
	font-family: "Courier", "Lucida Console", monospace;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
	z-index: 100; /* Put navigation bar on top of content */
	position: fixed;
	border-top: 5px solid #AAAAAA;
	top: 40px;
	right: 0;
	display: none;
	flex-direction: column;
	background-color: #EAEAEA;
}
div#hiddenNavbar a.button {
	height: 20px;
	width: 220px;
	text-align: center;
	padding-left: 20px 0;
	margin: 0;
}

a.button.left img {
	height: 20px;
}

/* Include two blank spaces after the navigation bar so the navigation bar doesn't get in the way of content */
div.navbar:after {
	content: "\a\a";
	white-space: pre;
}

/* Big pictures with shadow and border */
div.bigPicture {
	max-width: 1100px;
	max-height: 300px;
	overflow: hidden; /* Doesn't show any part of a picture outside the frame */
	border: 5px solid #777777;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
	margin: auto;
}
div.bigPicture img {
	width: 100%; /* Images inside a div.bigPicture frame will be as wide as possible within the frame */
	margin: 0 auto;
	display: block;
}
/* Pictures to go at the top of a page, taller than div.bigPicture */
div.tallHeading {
	max-height: 340px;
}
div.tallerHeading {
	max-height: 400px;
}
/* Limits content to a certain width and centers content */
div.limitContent {
	max-width: 1500px;
	margin: auto;
}
div.noBox {
	border: 0px solid #FFFFFF;
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

/* Box that contains each game that you can click on in the student section */
div.gameBox {
	margin: auto;
	max-width: 1100px;
}

/* Boxes that are used in the student section for challenges */
div.panel {
	max-width: 800px;
	min-width: 200px;
	padding: 10px;
  text-align: center;
  background-color: #2C50AF;
  color: white;
  font-size: 24px;
  border: solid 1px #A6BAD8;
  margin: auto;
}
div.panel:hover {
	background-color: #1C409F;
}
div.panel img {
	max-width: 100%;
}
div.solution,div.hidden {
	display: none; /* This means the div is invisible, it is only made visible by JavaScript */
}
div.solution:hover {
	background-color: #2C50AF;
}
div.showSolution {
	cursor: pointer; /* Sets the cursor to a hand when clicking on the show solution button */
	/* Make it so you don't highlight text when clicking the button: */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and Opera */
}

select {
	font-size: 18px;
	font-family: "Baskerville", "Georgia", "Times New Roman", serif;
	margin-left: 30px;
}

p {
	font-size: 18px;
	font-family: "Baskerville", "Georgia", "Times New Roman", serif;
	margin-left: 64px;
	margin-right: 64px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Courier", "Lucida Console", monospace;
    font-weight: normal;
    margin-left: 64px;
    margin-right: 64px;
}
h1 {
	font-size: 46px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 30px;
}
h1.blue,h2.blue,h3.blue,h4.blue,h5.blue,h6.blue {
	color: #1177CC;
}
h1,h2,h3.center,p.center {
	text-align: center;
}
p.left {
	text-align: left;
}
p.small {
	font-size: 12px;
}
p.extraInfo {
	font-size: 15px;
	text-align: right;
}
p.silver {
	color: #AAAAAA;
}

a {
	color: #1177CC;
	cursor: pointer;
	text-decoration: none; /* Don't underline links */
}
a:visited {
	color: #1177CC; /* Links don't change color when visited */
}
a:hover {
	color: #666666;
}
a:active {
	color: red; /* Links turn red when clicked on */
}

a.button {
	font-size: 20px;
	display: block;
	font-weight: bold;
	padding:10px 16px;
	float:right;
	width:auto;
	border:none;
	outline:0;
}
a.button:hover {
	color: #1C409F;
	background-color: #CCCCCC;
}
a.button:active {
	background-color: #CCCCCC;
}
a.button.highlight {
	color: #11BBFF;
	background-color: #CCCCCC;
}
a.button#burgerButton {
	padding-top: 8px;
	margin-right: 10px;
}
a.button img#burger_closed {
	max-width: 28px;
}
a.button img#burger_hover {
	display: none;
	max-width: 28px;
}
a.button:hover img#burger_hover {
	display: block;
}
a.button:hover img#burger_closed {
	display: none;
}

div.largeButton {
	color: #FFFFFF;
	background-color: #2C50AF;
	font-size: 24px;
	height: 60px;
	width: 90%;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
	padding: 10px;
	cursor: pointer;
}
div.largeButton:hover {
	background-color: #1C409F;
}

div.smallButton {
	color: #FFFFFF;
	background-color: #2C50AF;
	font-size: 16px;
	height: 40px;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
	padding: 10px;
	cursor: pointer;
	margin-top: 3px;
	margin-bottom: 3px;
}
div.smallButton:hover {
	background-color: #1C409F;
}

div.entry {
	margin-left: 30px;
	width: 200px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

a.left {
	float:left;
}

/* Image with a frame */
img.coolPicture {
	border: 5px solid #777777;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
}
img.profilePicture {
	height: 200px;
	width: 200px;
	border-radius: 20%;
	border: 5px solid #777777;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
}
img.workshop {
	float: right;
	width: 50%;
}
img.code {
	margin-left: 50px;
	width: 40%;
}
/* Centered image */
img.center {
    margin-left: auto;
    margin-right: auto;
}
img.restrict {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 430px;
}
/* Images inside table cells will be automatically centered and not be over 500px wide */
div.divTableCell img {
	display: block;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* iframes (like Scratch projects inside the website) have a border and shadow */
iframe {
	border: 5px solid #777777;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
	overflow: scroll;
}
/* Setting the height of iframes inside a table cell */
div.divTableCell iframe {
	height: 300px;
	width: 355px;
}
div.centerContents {
	text-align: center;
}

/* the divTable, divTableRow, etc. are divs that function as tags for tables like <table>, <tr>, etc. */
.divTable{
	display: table;
	width: auto;
	margin: 0px auto;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	max-width: 550px;
	padding: 3px 5px;
	vertical-align: top;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

div.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
}
div.row img.rowImage {
	height: auto;
	max-width: 100%;
	width: calc(22.5% - 10px);
	border-radius: 20%;
	border: 5px solid #777777;
	margin: 0 5px;
}

div#footer {
	margin-top: 10px;
	width: calc(100% - 20px);
	background-color: #EEEEEE;
	text-align: center;
	padding: 20px 10px;
}
div.socialBox {
	display: flex;
	justify-content: center;
}
div.socialBox img.socialLink {
	margin-left: 10px;
	margin-right: 10px;
}
a img.socialLink {
	height: 40px;
	width: 40px;
}

div.shift {
	margin-left: 60px;
}
video {
	width: 50%;
}
#donate {
	text-align: left;
	color: #000000;
	cursor: text;
}
table.schedule {
	margin: auto;
	text-align: left;
	padding: 0;
	width: calc(70% + 200px);
	max-width: 100%;
	border: 2px solid #CCCCCC;
}
table.schedule tbody tr th, table.schedule tbody tr td {
	border: 1px solid #CCCCCC;
	margin: 0;
	padding: 5px;
}
table.schedule tbody tr {
	margin: 0;
	padding: 0;
}
table.schedule tbody tr th.year {
	background-color: #9DC2E1;
	text-align: center;
}
table.schedule tbody tr th.day {
	background-color: #FFFD38;
	width: 20%;
}
table.schedule tbody tr td.site {
	font-weight: bold;
}
table.schedule tbody tr td.blank {
	border: 1px solid #F4F4F4;
	background-color: #F4F4F4;
}
div.extendedBioPicture {
	float: right;
	margin: 20px;
}
div.extendedBioPicture img {
	max-width: 350px;
	max-height: 350px;
}
div.numbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100vw;
	list-style-type: none;
	margin: 0;
}
div.numbers div {
	padding: 30px;
	width: calc(30vw - 60px);
	text-align: center;
	margin: 5px;
}
div.numbers div p.number {
	font-size: 48px;
	font-weight: bold;
}
div.numbers div p {
	margin: 0;
}
