body {
	background-color: #FFFFFF;
}

/* Navigation bar is really an unordered list (ul) */
ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  overflow: hidden;
	font-family: "Courier", "Lucida Console", monospace;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
	z-index: 100; /* Put navigation bar on top of content */
	position: fixed;
	top: 0;
	left: 0;
	background-color: #F5F5F5
}

/* Include two blank spaces after the navigation bar so the navigation bar doesn't get in the way of content */
div.navbar:after {
	content: "\a\a";
	white-space: pre;
}

/* Big pictures with shadow and border */
div.bigPicture {
	max-width: 1100px;
	max-height: 300px;
	overflow: hidden; /* Doesn't show any part of a picture outside the frame */
	border: 5px solid #777777;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
	margin: auto;
}
div.bigPicture img {
	width: 100%; /* Images inside a div.bigPicture frame will be as wide as possible within the frame */
	margin: 0 auto;
	display: block;
}
/* Pictures to go at the top of a page, taller than div.bigPicture */
div.tallHeading {
	max-height: 340px;
}
div.tallerHeading {
	max-height: 400px;
}
/* Limits content to a certain width and centers content */
div.limitContent {
	max-width: 1500px;
	margin: auto;
}
div.noBox {
	border: 0px solid #FFFFFF;
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

/* Box that contains each game that you can click on in the student section */
div.gameBox {
	margin: auto;
	max-width: 1100px;
}

/* Boxes that are used in the student section for challenges */
div.panel {
	max-width: 800px;
	min-width: 200px;
	padding: 10px;
  text-align: center;
  background-color: #2C50AF;
  color: white;
  font-size: 24px;
  border: solid 1px #A6BAD8;
  margin: auto;
}
div.panel:hover {
	background-color: #1C409F;
}
div.panel img {
	max-width: 100%;
}
div.solution {
	display: none; /* This means the solution is invisible, it is only made visible by JavaScript */
}
div.solution:hover {
	background-color: #2C50AF;
}
div.showSolution {
	cursor: pointer; /* Sets the cursor to a hand when clicking on the show solution button */
	/* Make it so you don't highlight text when clicking the button: */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and Opera */
}

p {
	font-size: 20px;
	font-family: "Baskerville", "Georgia", "Times New Roman", serif;
	margin-left: 64px;
	margin-right: 64px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Courier", "Lucida Console", monospace;
    font-weight: normal;
    margin-left: 64px;
    margin-right: 64px;
}
h1 {
	font-size: 46px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 30px;
}
h1,h2,p.center {
	text-align: center;
}
p.left {
	text-align: left;
}
p.small {
	font-size: 12px;
}

a {
	color: #1177CC;
	cursor: pointer;
	text-decoration: none; /* Don't underline links */
}
a:visited {
	color: #1177CC; /* Links don't change color when visited */
}
a:hover {
	color: #666666;
}
a:active {
	color: red; /* Links turn red when clicked on */
}

a.button {
	font-size: 20px;
	display: block;
	font-weight: bold;
	padding:10px 16px;
	float:right;
	width:auto;
	border:none;
	outline:0;
}
a.button:hover {
	color: #1C409F;
	background-color: #CCCCCC;
}
a.button:active {
	background-color: #CCCCCC;
}
a.button.highlight {
	color: #11BBFF;
}

a.left {
	float:left;
}

/* Image with a frame */
img.coolPicture {
	border: 5px solid #777777;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
}
/* Centered image */
img.center {
    margin-left: auto;
    margin-right: auto;
}
/* Images inside table cells will be automatically centered and not be over 500px wide */
div.divTableCell img {
	display: block;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* iframes (like Scratch projects inside the website) have a border and shadow */
iframe {
	border: 5px solid #777777;
	box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.15);
	overflow: scroll;
}
/* Setting the height of iframes inside a table cell */
div.divTableCell iframe {
	height: 300px;
	width: 355px;
}
div.centerContents {
	text-align: center;
}

/* the divTable, divTableRow, etc. are divs that function as tags for tables like <table>, <tr>, etc. */
.divTable{
	display: table;
	width: auto;
	margin: 0px auto;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	max-width: 550px;
	padding: 3px 5px;
	vertical-align: top;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
