/* Big pictures take up more of the screen in mobile
because they are still too small to block content */
body.mobile div.navbar ul {
	height: 35px;
}
body.mobile div#hiddenNavbar {
	top: 35px;
}
body.mobile div#hiddenNavbar a.button {
	height: 15px;
	width: 130px;
}
body.mobile a.button.left img {
	height: 15px;
}
body.mobile div.largeButton {
	margin: 0 auto;
	width: 90%;
}

body.mobile div.bigPicture {
	max-width: calc(100vw - 50px);
	margin: 0 20px;
}
/* Don't limit content on mobile */
body.mobile div.limitContent {
	max-width: 100vw;
	width: 100vw;
}
body.mobile img.coolPicture {
	max-width: calc(100vw - 50px);
	width: 90%;
	margin: 0 20px;
}
body.mobile div.divTableCell img {
	margin: 0 auto;
}
body.mobile div.gameBox, body.mobile iframe {
	max-width: calc(100vw - 50px);
}

/* Smaller font sizes and margins for mobile */
body.mobile p, body.mobile h1, body.mobile h2, body.mobile h3, body.mobile h4, body.mobile h5, body.mobile h6 {
    margin-left: 20px;
    margin-right: 20px;
}
body.mobile h1 {
	font-size: 38px;
}
body.mobile h2 {
	font-size: 30px;
}
body.mobile h3 {
	font-size: 24px;
}

body.mobile a.button {
	font-size: 12px;
	height: 35px;
	padding: 10px 8px;
}

/* the divTable, divTableRow, etc. don't work as tables in mobile */
body.mobile .divTable{
	display: block;
	width: 100%;
}
body.mobile .divTableRow {
	display: block;
}
body.mobile .divTableHeading {
	display: block;
}
body.mobile .divTableCell, body.mobile .divTableHead {
	display: block;
	margin: 0 auto;
}
body.mobile .divTableHeading {
	display: block;
}
body.mobile .divTableFoot {
	display: block;
}
body.mobile .divTableBody {
	margin: 0 auto;
	display: block;
}

body.mobile div#slideshow {
	height: 400px;
	overflow: hidden;
}
