nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
    float: left;
    border-right: 2px solid #88888;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #003E66 (blue of background) on hover */
nav ul li a:hover {
    background-color: #003E66;
}
