body{
  padding: 0px;
  margin: 0px;
  background-color: #FFFFFF
}

#main-container{
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #003E66;
    color: #FFFFFF
}

#main-text{
  margin-left: 60px;
  margin-right: 60px;
}

#titleImage{
  display: block;
  margin-left: auto;
  margin-right: auto
}

h2{
  font-size: 40px;
}

p{
  font-size: 30px;
}
