* {
    box-sizing: worder-box;
    padding: 0;
    margin: 0;
    font-family:Montserrat;
    --dark-blue: #05164B;
    color: #FFF;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1vh 8vw;
    background: var(--dark-blue);
    color: white;
}

h1, h3, h5 {
    text-align: center;
    text-transform: capitalize;
    margin: 0.25em;
}

h1 {
    font-family:"Playfair Display";
    font-size: 72px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

button {
    display: inline-flex;
    margin: 0px 10px;
    padding: 1em 2em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #2F4897;
    font-size:16px;
}

button:hover {
    filter:brightness(90%)
}

.navbar-left {
    grid-column: 1
}

.navbar-right {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
}

.navbar-middle {
    grid-column: 2;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.navbar-left--logo {
    max-width: 10em;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    filter:brightness(50%);
}

.svg-container {
    position: absolute;
    left: -290px;
    top: 0px;
    z-index: -1;
    max-height: 100vh;
    width: 75vw;
}

.hero--middle-text {
    margin-top: 8em;
    margin-bottom: 2em;
}

.button-clear {
    background: rgb(0 0 0 / .2);
}

.button-solid {
    background: #2F4897;
}


