.contribution-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.contribution-img {
    border-radius: 50%;
    height: 10em;
    margin: 2em;
}

.fadeIn {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fadeOut {
    animation: fadeOut ease 1s;
}

@keyframes fadeOut {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
